# Firebase / Google credentials
serviceAccountKey.json

venv
.env
backend/__pycache__/
*.pyc

# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Flutter generated
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log